/* === === BODY === === */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap');

body{
    color: var(--body-clr);
    font-size: var(--body-fs);
    font-weight: var(--body-fw);
    background: var(--body-bg);

}
html[dir="rtl"] body{font-family: var(--body-ff-ar);}
html[dir="ltr"] body{font-family: var(--body-ff-en);}
/* ==== === ==== === ==== === ==== */
/*         GENERAL CLASSES         */
/* ==== === ==== === ==== === ==== */
/* === === SVG === === */
.svg-icon{display:inline-flex;align-items:center;justify-content:center}
/* SVG Colors */
.svg-primary{color:var(--clr-primary,blue)}
.svg-secondary{color:var(--clr-secondary,grey)}
.svg-third{color:var(--clr-third,lightblue)}
.svg-success{color:var(--clr-success,green)}
.svg-warning{color:var(--clr-warning,orange)}
.svg-danger{color:var(--clr-danger,red)}
.svg-info{color:var(--clr-info,darkblue)}
.svg-white{color:var(--clr-white,white)}
.svg-gray{color:var(--clr-gray,gray)}
.svg-dark{color:var(--clr-dark,darkgray)}
.svg-black{color:var(--clr-black,black)}
/* ==== === ==== === ==== === ==== */
img.full-width{width: 100%;}
/* ==== === ==== === ==== === ==== */
/* === === SCROLL === === */
.scroll{
    padding-inline-end: var(--scroll-padding-istart);
    max-height: var(--scroll-min-height);
    object-fit: contain;
    overflow: hidden;
    overflow-y: auto;
}
.scroll{scrollbar-width: auto; scrollbar-color: var(--scroll-clr) transparent;}
.scroll::-webkit-scrollbar {width: var(--scroll-width);}
.scroll::-webkit-scrollbar-track {background: var(--scroll-bg); border-radius: var(--scroll-border-radius);}
.scroll::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--scroll-clr); 
    border: var(--scroll-border-width) var(--scroll-border-style) var(--scroll-border-clr);
    border-radius: var(--scroll-thumb-border-radius); 
}
.scroll{
    --scroll-min-height: 100px;
    --scroll-padding-istart: 10px;
    --scroll-bg: #E5EEF9;
    --scroll-clr: #1769CC;
    --scroll-width: 6px;
    --scroll-border-width: 0px;
    --scroll-border-style: solid;
    --scroll-border-clr: #1769CC;
    --scroll-track-border-radius: 8px;
    --scroll-thumb-border-radius: 8px;
}

:root {
    --body-clr: var(--clr-primary);
    --body-bg: #FEFEFE;
    --body-fs: 16px;
    --body-fw: 400;
    --body-ff-ar: 'Archivo', sans-serif;
    --body-ff-en: 'Archivo', sans-serif;

    --clr-primary: #0E1E65;
    --clr-secondary: #7138D9;
    --clr-success: green;
    --clr-warning: orange;
    --clr-danger: red;
    --clr-white: #ffffff;
    --clr-gray: #ffffff80;

    --clr-primary-2: #152671;
    --clr-dark-2: #030716;

    --clr-light-gray: #ffffffcc;
    --clr-lighter-gray: #F3F5FD;
    --clr-dark: #0B174D;
    --clr-black: #000000;
    --clr-border: #0b174d33;
    --footer-bg-clr: #080F2E;
    --footer-clr: #E8EBF8;

    --fs-xs: 13px;
    --fs-sm: 25px;
    --fs-md: 1.8rem;
    --fs-lg: 39px;
    --fs-xl: 49px;
    --fw-bold:700;

    --lh-12: 120% ;
    --lh-16: 160% ;
}
