
/* =-=-=-=-=-=-= GENERAL =-=-=-=-=-=-= */
.grid-col {
    --grid-gap-col: 40px;
    --grid-gap-row: 0;
    display: grid;
    width: 100%;
    gap: var(--grid-gap-row) var(--grid-gap-col);
}
.grid-col[class*='col-']{grid-template-columns: 1fr;}
@media screen and (min-width: 576px) {
    .grid-col.col-2 {--grid-columns-width: calc(50% - var(--grid-gap-col));}
    .grid-col[class*='col-']{grid-template-columns: repeat(auto-fill, minmax(var(--grid-columns-width), 1fr));}
}
/* =-=-=-=-=-=-= HOME PAGE =-=-=-=-=-=-= */
.home-hero{
    padding-block: 40px;
    background-image: url(../media/images/home-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-hero .hero-content{
    --padding-inline: 2rem;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;
    --content-padding: min(100% - (var(--padding-inline) * 2), calc(var(--content-max-width)/2));
    --breakout-width: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    --content-col: calc(var(--content-max-width)/12);

    --split-first-block-startpoint: content-start;
    --split-first-block-endpoint: split-middle;
    --split-last-block-startpoint: split-middle;
    --split-last-block-endpoint: content-end;
}
.home-hero .hero-content{
    overflow: hidden;
    padding-block: 70px;
    display: grid;
    grid-template-columns: 
        [full-width-start]
        minmax(var(--padding-inline), 1fr)
        [breakout-start]
        minmax(0,var(--breakout-width))
        [content-start]  
        var(--content-padding)
        [split-middle]
        var(--content-padding)
        [content-end]
        minmax(0,var(--breakout-width))
        [breakout-end] 
        minmax(var(--padding-inline), 1fr)
        [full-width-end];
}
.home-hero .hero-content > *{
    display: grid;
    align-content: center;
    justify-items: start;
    height: 100%;
}   
.home-hero .hero-content > :first-child { 
    grid-column-start: var(--split-first-block-startpoint);
    grid-column-end: var(--split-first-block-endpoint);
}
.home-hero .hero-content > :last-child {
     grid-column-start: var(--split-last-block-startpoint);
    grid-column-end: var(--split-last-block-endpoint);
}
.home-hero .hero-content > .full-width:first-child{
    --split-first-block-startpoint: full-width-start;
}
.home-hero .hero-content > .full-width:last-child{
    --split-last-block-endpoint: full-width-end;
}
.home-hero .hero-content > .breakout:first-child{
    --split-first-block-startpoint: breakout-start;
}
.home-hero .hero-content > .breakout:last-child{
    --split-last-block-endpoint: breakout-end;
}
@media screen and (min-width:576px){.home-hero .hero-content,.screens-carousel-container {--content-max-width: 540px;}}
@media screen and (min-width:768px){.home-hero .hero-content,.screens-carousel-container {--content-max-width: 720px;}}
@media screen and (min-width:992px){.home-hero .hero-content,.screens-carousel-container {--content-max-width: 960px;}}
@media screen and (min-width:1200px){.home-hero .hero-content,.screens-carousel-container {--content-max-width: 1140px;}}
@media screen and (min-width:1400px){.home-hero .hero-content,.screens-carousel-container {--content-max-width: 1320px;}}

.hero-content h2 {
    color: var(--clr-primary);
    font-size: clamp(2.5rem, 4.75vw, 4.75rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.52px;
    margin-bottom: 56px;
}
.hero-content h2 span {color: var(--clr-secondary);}

/* ABOUT */
.home-about {padding-block: 34px 144px; position: relative;}
.bg-title {
    width: 100%;
    font-size: clamp(23.25vw, 1vw, 400px);
    font-weight: 700;
    line-height: normal;
    position: absolute;
    color: transparent;
    background: linear-gradient(0deg, transparent, #2f185b);
    background-clip:text;
    -webkit-background-clip:text;
    z-index: -1;
    top: -30px;
    opacity: 0.2;
}
@supports (-webkit-text-stroke: 2px transparent) {
    .bg-title {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px transparent;
    }
}
.section-title h3 {
    color: var(--clr-primary);
    font-size: 49px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}
.section-title h3 > span {
    color: var(--clr-secondary);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.section-title h3 > span::before {
    content: '';
    width: 48px;
    height: 1px;
    background: var(--clr-secondary);
    display: inline-flex;
}
.services-content,
.about-content {
    color: var(--clr-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6; 
}
.about-card {
    --card-bg: var(--clr-secondary);
    --card-border-clr: var(--clr-secondary);
    --card-mb: 40px;
}
.about-card .svg-icon svg {
    color: white;
    width: 64px;
    height: 64px;
}
.about-card .about-title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.about-card .about-title,
.about-card .svg-icon {
    margin-bottom: 16px;
}
.about-card .about-info {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.home-about .scroll {--scroll-min-height: 600px;}
.home-about .scroll::-webkit-scrollbar {display: none;}

/* Services */
.home-services{
    padding-block: 96px 46px;
    position: relative;
    background: linear-gradient(251deg, var(--clr-primary-2) 0%, var(--clr-dark-2) 100%);
    color: white;
    isolation: isolate;
}
.home-services::before {
    content: '';
    width: 100%;
    aspect-ratio: 320/59;
    display: block;
    position: absolute;
    top: 70px;
    background-image: url('../media/icons/bg-text.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
@media screen and (max-width:991.98px) {
    .home-services::before{background-size: contain;}
}
.home-services .section-title h3,
.home-services .services-content{color: white;}
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
.home-services .service-card {display: grid; align-content: center; justify-items: start; gap: 16px; padding: 40px;}
.home-services .service-card h4 {font-size: 25px;font-weight: 700;line-height: 1.2;color: white;}
.home-services .service-card p {font-size: 16px;font-weight: 400;line-height: 1.6;color: white;}

.home-services .service-card .smrt-btn {
    margin-top: 16px;
}
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
.home-products{padding: 154px 0 144px; position: relative;}
.home-products .bg-title{
    top: 85px;
    font-size: clamp(23.81vw, 1vw, 400px);
    inset-inline-start: 0px;
}
.filter-control{display: flex; align-items: center; gap: 40px; margin-bottom: 32px;}
.filter-control .filter-item{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--clr-primary);
    opacity: 0.7;
    padding-bottom: 16px;    
}
.filter-control .filter-item::before{
    content: none;
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 4px;
    background: var(--clr-secondary);
    transform: 0.2s all ease-in-out;
}
.filter-control .filter-item:hover::before,
.filter-control .filter-item.active::before{
    content: '';
}
.filter-control .filter-item:hover,
.filter-control .filter-item.active{
    color: var(--clr-secondary);
}


.filter-content .filter-item {
    height: 350px;
    display: inline-flex;
    width: 100%;
    position: relative;
    margin-bottom: var(--bs-gutter-x);
    min-height: 100%;
}
.filter-content .filter-item > img {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
}
.filter-content .filter-item .item-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 64px 32px 32px;
    background: linear-gradient(0deg, var(--clr-dark-2), rgba(21, 38, 113, 0.00));
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
}
.filter-content .filter-item .item-description h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
}
.filter-content .filter-item .item-description p{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}
/* =-=-=-= */
.filter-content .owl-item.active {
    width: 100% !important;
    transition: 0.2s all ease-in-out;
}

.filter-content .owl-stage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100% !important;
    gap: 8px;
}
.filter-content .owl-dots,
.filter-content .owl-nav {display: none;}
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= ABOUT PAGE || MOBILE =-=-=-=-=-=-= */
.smrt-about-mobile .smrt-header .header-nav > li > a{color: white;}
/* ABOUT PROJECT */
#smrt-about-project{
    padding-top:239px ;
    padding-bottom: 176px;
}
#smrt-about-project p.smrt-main-subtitle ,
.home-join-us p.smrt-main-subtitle{
    max-width:755px;
    margin-top: 16px;
}

/* ABOUT US */
#smrt-about-us .smrt-cards-container{
    padding-top: 22px;
}

/* Download application */
#smrt-download-app{
    margin-top:216px;
    margin-bottom: 176px;
    background:  linear-gradient(251deg, #152671 0%, #030716 100%);
}
#smrt-download-app .smrt-main-img{
    margin-top: -48px;
}
@media (max-width:991.98px) {
    #smrt-download-app .smrt-main-img{
        margin-top: 58px;
    }
    .smrt-download-app .smrt-apps-container{
        justify-content: center;
    }
    #smrt-download-app h4.smrt-main-title{text-align: center;padding-top: 25px;}
}
.smrt-download-app{
    max-width:435px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}
.smrt-download-app .smrt-apps-container{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 32px;
}
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= =-=-=-=-=-=-= =-=-=-=-=-=-= */
/* =-=-=-=-=-=-= ABOUT PAGE || WEB =-=-=-=-=-=-= */
.smrt-about-web .smrt-header .header-nav > li > a{color: white;}
.smrt-about-web #smrt-download-app .smrt-main-img{
    margin-bottom: -30px;
}

/**/
.screens-carousel-container{
    margin-bottom: 176px;
    overflow: hidden;
    padding-block: 70px;
    display: grid;
    grid-template-columns:
        [full-width-start]
        minmax(var(--padding-inline), 1fr)
        [breakout-start]
        minmax(0,var(--breakout-width))
        [content-start]
        var(--content-padding)
        [split-middle]
        var(--content-padding)
        [content-end]
        minmax(0,var(--breakout-width))
        [breakout-end]
        minmax(var(--padding-inline), 1fr)
        [full-width-end];
    --padding-inline: 2rem;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;
    --content-padding: min(100% - (var(--padding-inline) * 2), calc(var(--content-max-width)/1));
    --breakout-width: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    --split-first-block-startpoint: content-start;
    --split-last-block-endpoint: content-end;
}
.screens-carousel1{
    grid-column-start: var(--split-first-block-startpoint);
    --split-last-block-endpoint: full-width-end;
    grid-column-end: var(--split-last-block-endpoint);
    display: grid;
    align-content: center;
    justify-items: start;
    height: 100%;
}
